.soralert {text-align: center;padding: 5px 10px;font-family: segoe ui;font-size: 13px;color: #ddd;background: #23282D;border-top: 1px solid #111;}
.soractrl{clear: both;position: relative;text-align: center;margin-bottom: 15px;}
.soractrl .spoint{cursor: pointer;}
.humancheck{text-align:center;margin-bottom:20px;}
.humancheck .helloworld{margin-bottom:5px;font-weight:700;color:red}
.humancheck input.sorasubmit{background:#1a1a1a;border:0;border-radius:2px;color:#fff;font-family:inherit;font-weight:700;letter-spacing:.046875em;line-height:1;padding:.84375em .875em .78125em;text-transform:uppercase}